<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224874190255-q85bnm6ks1lvqqu8j6jelcba5bqnpfnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224874190255-q85bnm6ks1lvqqu8j6jelcba5bqnpfnh</string>
	<key>API_KEY</key>
	<string>AIzaSyD3D16413_QZ-02mxko9_xbD59ySTEpIkA</string>
	<key>GCM_SENDER_ID</key>
	<string>224874190255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anonymTest</string>
	<key>PROJECT_ID</key>
	<string>anonym-a536f</string>
	<key>STORAGE_BUCKET</key>
	<string>anonym-a536f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224874190255:ios:72fb8c30a45b4fa72c0b5a</string>
</dict>
</plist>